In [42]:
import yfinance as yf
start = '2023-04-01'
end = '2023-04-30'
df = yf.download('AAPL', start=start, end=end)
print(df)

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2023-04-03  164.270004  166.289993  164.220001  166.169998  166.169998
2023-04-04  166.600006  166.839996  165.110001  165.630005  165.630005
2023-04-05  164.740005  165.050003  161.800003  163.759995  163.759995
2023-04-06  162.429993  164.960007  162.000000  164.660004  164.660004
2023-04-10  161.419998  162.029999  160.080002  162.029999  162.029999
2023-04-11  162.350006  162.360001  160.509995  160.800003  160.800003
2023-04-12  161.220001  162.059998  159.779999  160.100006  160.100006
2023-04-13  161.630005  165.800003  161.419998  165.559998  165.559998
2023-04-14  164.589996  166.320007  163.820007  165.210007  165.210007
2023-04-17  165.089996  165.389999  164.029999  165.229996  165.229996
2023-04-18  166.100006  167.410004  165.649994  166.470001  166.470001
2023-04-19  165.800003  168.160004  165.539993  167.630005  167.630005
2023-04-20  166.089996  167.869995  165.559998  166.649994  166.649994
2023-04-21  165.050003  166.449997  164.490005  165.020004  165.020004
2023-04-24  165.000000  165.600006  163.889999  165.330002  165.330002
2023-04-25  165.190002  166.309998  163.729996  163.770004  163.770004
2023-04-26  163.059998  165.279999  162.800003  163.759995  163.759995
2023-04-27  165.190002  168.559998  165.190002  168.410004  168.410004
2023-04-28  168.490005  169.850006  167.880005  169.679993  169.679993

              Volume
Date
2023-04-03  56976200
2023-04-04  46278300
2023-04-05  51511700
2023-04-06  45390100
2023-04-10  47716900
2023-04-11  47644200
2023-04-12  50133100
2023-04-13  68445600
2023-04-14  49337200
2023-04-17  41516200
2023-04-18  49923000
2023-04-19  47720200
2023-04-20  52456400
2023-04-21  58311900
2023-04-24  41949600
2023-04-25  48714100
2023-04-26  45498800
2023-04-27  64902300
2023-04-28  55209200

In [33]:
from pandas_datareader import wb

In [35]:
wb.search('gdp.*capita.*const').iloc[:,:2]

                         id                                               name
691      6.0.GDPpc_constant  GDP per capita, PPP (constant 2011 internation...
10634        NY.GDP.PCAP.KD                 GDP per capita (constant 2015 US$)
10636        NY.GDP.PCAP.KN                      GDP per capita (constant LCU)
10638     NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2017 internation...
10639  NY.GDP.PCAP.PP.KD.87  GDP per capita, PPP (constant 1987 internation...

In [38]:
dat = wb.download(indicator = 'NY.GDP.PCAP.KD', country = ['US', 'CA', 'MX'], start = 2015, end = 2023)
print(dat)

                    NY.GDP.PCAP.KD
country       year
Canada        2021    43936.308105
              2020    42258.691017
              2019    45109.244486
              2018    44917.483728
              2017    44325.488337
              2016    43536.913403
              2015    43596.135537
Mexico        2021     9525.409684
              2020     9147.053505
              2019    10013.703192
              2018    10120.363543
              2017     9997.686914
              2016     9897.150062
              2015     9753.380048
United States 2021    61855.518630
              2020    58453.446128
              2019    60698.011299
              2018    59607.393660
              2017    58207.578310
              2016    57292.538783
              2015    56762.729452